.start-screen {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to left top,
    var(--orange-5) 50%,
    var(--white-100) 50%
  );
  padding: 0 80px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.start-screen__image {
  width: 100%;
}

.start-screen__image-container,
.start-screen__column-container {
  flex: 1;
  max-width: 624px;
}

.start-screen__description-text {
  padding: 0;
  margin: 0;
  margin-bottom: 64px;
  font-size: 56px;
  line-height: 65px;
  font-weight: 600;
}

.start-screen__start-button {
  max-width: 296px;
  width: 100%;
}

@media screen and (max-width: 860px) {
  .start-screen {
    flex-flow: column;
    padding: 80px 16px 48px;
    justify-content: space-between;
    gap: 24px;
  }

  .start-screen__start-button {
    max-width: initial;
  }

  .start-screen__column-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
  }

  .start-screen__description-text {
    font-size: 32px;
    line-height: 37px;
    margin-bottom: 0;
    text-align: center;
  }

  .start-screen__start-button {
    margin-top: auto;
  }
}
