@import url(./colors.css);
@import url(./screen-sizes.css);

body {
  margin: 0;
  font-family: "Inter", sans-serif;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}
